@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  /* 40%, 60% { transform: translate3d(0, 50%, 0); } */
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animated-title {
  color: white;
  height: 80vmin;
  left: 25%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 48%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 5vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div {
  display: block;
}
.animated-title > div.text-top {
  /* border-bottom: 1vmin solid #000; */
  top: 0;
  margin-top: 8%;
  font-size: 30px;
  margin-left: 40px;
  padding-top: 130px;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.text-top div span{
  color:#F15157;
}
/* .animated-title > div.text-top div span:first-child {
  color: white;
} */

.animated-title > div.text-bottom {
  bottom: 0;
  margin-top: 8%;
  font-size: 10px;
  margin-left: 40px;
}

.animated-title > div.text-bottom div span h3 {
  font-size: 2.4vw;
}

.animated-title > div.text-bottom div span a {
  font-size: 1.1vw;
  margin-left: 1%;
  margin-top: 7%;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}


#header{
  max-width: 100%;
  height: 100vh;
  background-image: url("../Photos/computer.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-container {
  display: flex;
  height: 100vh;
}


.header-text{
  margin-top: 8%;
  font-size: 30px;
  margin-left: 40px;
  padding-top: 130px;
}

.header-text h1 {
  font-size:5vw;
}

.header-text h3 {
  font-size:2vw;
  margin-top: 1%;
}
.header-text h1 span {
  color:#F15157;
}

.header-text h3 span {
  color:#F15157;
}

.header-text a{
  font-size: 1vw;
}

.header-text .text-animated {
  color: white;
  -webkit-text-stroke: .7px var(--main-color);
  background-image: linear-gradient(var(--main-color),var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -15rem 0;
}

@media only screen and (max-width: 767px){
  .animated-title{
    margin-left: 60px;
  }
  .text-top{
     margin-top: 81%;
  }

  .text-top h1{
     font-size: 7vw;
  }

  .animated-title > div.text-bottom div span h3 {
    font-size: 4vw;
    margin-left: 2px;
    margin-top: 2%;
  }

  .animated-title > div.text-bottom div span a {
    display: inline-block;
    font-size: 2.5vw;
    margin-left: 5px;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 1366px){
  .animated-title{
    margin-left: 200px;
  }
  .text-top{
     margin-top: 81%;
  }

  .text-top h1{
     font-size: 7vw;
  }

  .animated-title > div.text-bottom div span h3 {
    font-size: 4vw;
    margin-left: 2px;
    margin-top: 2%;
  }

  .animated-title > div.text-bottom div span a {
    display: inline-block;
    font-size: 2.5vw;
    margin-left: 5px;
    margin-top: 5%;
  }
}
