
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #F15157;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #F15157;
}

.home-btn{
  display: block;
  width: fit-content;
  border: 1px solid #F15157;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  background: #F15157;
  color: white;
  transition: background 0.5s;
  margin-top: 15%;
}

.home-btn:hover {
  background: #2d343f;
}

.btn.btn2{
  display: inline-block;
  background: #F15157;
}


.form-button{
  width: 100%;
  display: block;
  /* margin-top: 10px; */
  margin: 20px auto;
  background: #F15157;
  border: 1px solid #F15157;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: background 0.5s;
  cursor: pointer;
}

.form-button:hover{
  background: #F15157;
}
