
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #F15157;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #F15157;
}

.btn.btn2{
  display: inline-block;
  background: #F15157;
}

form btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
