/* -------------portfolio cards ------ */

.portfolio{
  background-color: #141010;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 5.2rem;
  margin-top: 2.2rem;
}

.Portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
}

.portfolio-row img{
  height: auto;
  width: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}

.portfolio-row{
  background: #2d343f ;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px #F15157;
  padding: 20px;
  transition: all .50s ease ;
}

.main-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.portfolio-row h5{
  font-size: 20px;
  font-weight: 600;
  color: lightgray;
}

.portfolio-row i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  background: #F15157;
}

.portfolio-row h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.4;
}

.portfolio-row:hover{
  border: 1px solid #2d343f;
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

/* #portfolio{
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #F15157);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #F15157;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
} */
