/* -------------portfolio cards ------ */

.portfolio{
  background-color: #141010;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 5.2rem;
  margin-top: 2.2rem;
}

.all-content{
  transition: all 0.5s ease-in-out;
}

.all-content.fade-out{
  opacity: 0;
}

.Portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
}

.portfolio-row img{
  height: auto;
  width: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}

.portfolio-row{
  background: #2d343f ;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px #F15157;
  padding: 20px;
  transition: all .50s ease ;
}

.main-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.portfolio-row h5{
  font-size: 20px;
  font-weight: 600;
  color: lightgray;
}

.portfolio-row i{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  background: #F15157;
}

.portfolio-item-details{
  display: none;
}

.portfolio-row h4{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.4;
}

.portfolio-row:hover{
  border: 1px solid #2d343f;
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

.center-text h2{
  margin-left: 600px;
}

/*
<!-- portfolio Item details popup start --> */

.portfolio-popup{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  visibility: hidden;
}

.portfolio-popup.open{
  visibility: visible;
  overflow-y: auto;
}

.pp-inner{
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp-content{
  background-color: #2d343f;
  padding: 30px;
  border-radius: 30px;
  max-width: 960px;
  width: 100%;
  border: 1px solid #2d343f;
  backdrop-filter: blur(5px);
  opacity: 0;
  transform: scale(0.9);
}

.portfolio-popup.open .pp-content{
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease;
}

.hidden{
  display: none !important;
}

.pp-btn{
  display: block;
  width: fit-content;
  border: 1px solid #F15157;
  padding: 14px 50px;
  border-radius: 30px;
  text-decoration: none;
  background: #2d343f;
  color: white;
  transition: background 0.5s;
}

.pp-btn:hover{
  background: #F15157;
}

.pp-header{
  position: relative;
}

.pp-header .pp-btn{
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: -40px;
}

.pp-thumbnail img{
  border-radius: 10px;
}

.pp-header h3{
  font-size: 25px;
  text-transform: capitalize;
  color: white;
  margin: 20px 0 15px ;
}

.pp-body .description{
  margin-bottom: 20px;
  color: white;
}

.general-info ul{
  list-style: none;
}

.pp-body .general-info li {
  margin-bottom: 10px;
  color: #F15157;
  font-weight: 500;
  text-transform: capitalize;
}

.pp-body .general-info span{
  font-weight: 300;
  color: white;
}

.pp-body .general-info li a{
  text-transform: lowercase;
  color: white;
}

.view-project-btn{
  display: block;
  width: fit-content;
  border: 1px solid #F15157;
  padding: 14px 50px;
  border-radius: 30px;
  text-decoration: none;
  background: #2d343f;
  color: white;
  transition: background 0.5s;
}

.view-project-btn:hover{
  background: #F15157;
}
